:root {
    --main-nav-border-color: aqua;
    --main-section-text-color: rgb(26, 65, 116);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: rgb(36, 33, 33);
}

.nav-header {
    font-size: 55px;
    background-color: var(--main-nav-border-color);
    width: 570px;
}
.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 400px;
    margin-right: 60px;
}

nav a {
    color: var(--main-nav-border-color);
}

.subtitle {
    height: 150px;
    position: relative;
    background-image: url(./images/bigovo.jpg);
}

#sub-text {
    position: absolute;
    bottom: 35px;
    right: 70px;
    background-color: var(--main-nav-border-color);
    width: 375px;
    height: 55px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.card {
    height: 250px;
    display: flex;
    justify-content: space-between;
}

.card h2 {
    width: 450px;
    background-color: red;
    display: flex;
    justify-content:right;
    align-items: center;
    font-size: 60px;
}

#aboutMe-p {
    display: flex;
    justify-content: left;
    font-size: large;
    background-color: red;
}

.flex-wrap,
.flex-wrap-header {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
    margin-top: 25px;
}

.flex-wrap-header {
    border-right: 5px solid blue;
}